node_modules
.env
sftp.json
compiledjs
public/tiles
resources/mapserver/service/lastTopoFile.jpg
.gitignore
resources/mapserver/service/dbgCanv.png
resources/mapserver/service/lastFile.jpg
resources/mapserver/service/missingcol.png
